.modalInput {
  width: 404px;
  height: 40px;
  margin: 0px 16px 16px 0px;
  border-radius: 4px;
}
.modalInputText {
  width: 370px;
  height: 40px;
  margin: 0 0 16px 0;
  font-weight: 600;
  font-size: 14px;
  font-family: Inter, sans-serif;
}
.modalHeaderText {
  width: 404px;
  height: 40px;
  margin: 0 0 16px 0;
  font-weight: 600;
  font-size: 14px;
  font-family: Inter, sans-serif;
  text-align: center;
}
.changesText {
  font-weight: 600;
  font-size: 14px;
  font-family: Inter, sans-serif;
  height: 40px;
}
.changesInput {
  height: 40px;
  font-weight: 600;
  font-size: 14px;
  font-family: Inter, sans-serif;
}
